<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SubirServlet</servlet-name>
        <servlet-class>com.udea.controller.SubirServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarServlet</servlet-name>
        <servlet-class>com.udea.controller.MostrarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImagenServlet</servlet-name>
        <servlet-class>com.udea.controller.ImagenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubirServlet</servlet-name>
        <url-pattern>/SubirServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConsultarServlet</servlet-name>
        <servlet-class>com.udea.controller.ConsultarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultarServlet</servlet-name>
        <url-pattern>/ConsultarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarServlet</servlet-name>
        <url-pattern>/MostrarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImagenServlet</servlet-name>
        <url-pattern>/ImagenServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
